.cartContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: 1400px;
  gap: 15px;
  width: 80%;
  padding: 25px;
}

.cartItems {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
  border: 1px solid black;
}

.productList {
  width: 100%;
  border-collapse: collapse;
}

.scrollable {
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.th, .td {
  text-align: center;
  padding: 12px;
  border: 1px solid #ddd;
}

.thead {
  position: sticky;
  background-color: #f4f4f4;
  font-weight: bold;
}

.productDetails {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
  gap: 35px;
}

.cartSummary {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
  border: 1px solid rgb(0, 0, 0);
}

.lines {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 25px 0px;
}

.summaryLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkoutBtn {
  margin-top: auto;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  height: 65px;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}

.checkoutBtn:hover {
  background-color: rgb(0, 65, 0);
}