.container {
  max-width: 100ch;
  text-align: left;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container h2 {
  font-size: 30px;
}

.container p {
  font-size: 20px;
}